.admin-dashboard {
  max-width: 1200px;
  margin: 0 auto;
}

.admin-dashboard form {
  max-width: 400px;
  margin: 0 auto;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.admin-dashboard .products {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
